%div{:style => "margin:10px"}
  %h1 Editing Site Configuration

  %div.span-24
    = render 'form'

  %div.span-24{:style => "margin-top:50px"}
    %hr
    %h1 Dev stuff
    %p Find me in app/views/siteconfig/edit.html.haml
