- content_for :head do
  = stylesheet_link_tag "portal.css"

%div{:style => "margin:10px"}

  .form-box
    %div
      %h2 Editing Site Configuration

      %div
        = render 'form'

  %div{:style => "margin-top:50px"}
    %hr
    %h1 Dev stuff
    %p Find me in app/views/siteconfig/edit.html.haml
