<!-- START EXCERPT -->
<div id="excerpt">
	<h1 class="title">{{ collection.title | escape }}</h1>{% if collection.description.size > 0 %}
	{{ collection.description }}{% endif %}
</div>
<!-- END EXCERPT -->


<!-- START VENDORS -->{% if shop.vendors.size > 0 %}
<ul>
{% for product_vendor in shop.vendors %}
{% if product_vendor != 'Product Archetypes' %}
  <li>
    {{ product_vendor | link_to_vendor  }}
  </li>
{% endif %}
{% endfor %}
</ul>{% else %}
<p id="empty">There are no vendors in this collection.</p>{% endif %}
<!-- END VENDORS -->