
%div{:style => "width:980; background-color:#dddddd"}
  %h1 Market#show
  %p Find me in app/views/market/show.html.haml
  %iframe{:src => "http://soletron.myshopify.com/collections/#{@path}", :scrolling => "no", :style => "width:980px; height:1200px; margin:0; padding:0; border:0"}