/*
body {
	background: url("images/body-background.jpg");
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Sans-Serif;
	font-size:13px;
}
*/
@font-face {
	font-family: 'AdelleBasicBold';
	src: url('adellebasic_bold-webfont.eot');
	src: url('adellebasic_bold-webfont.eot?iefix') format('eot'), url('adellebasic_bold-webfont.woff') format('woff'), url('adellebasic_bold-webfont.ttf') format('truetype'), url('adellebasic_bold-webfont.svg#webfontJgsJMF3q') format('svg');
	font-weight: normal;
	font-style: normal;
}
h3 {
	font-family:'AdelleBasicBold';
	font-size:11px;
	text-transform:uppercase;
}
#template-container {
	height:457px;
	position:relative;
	/*
	margin: 0px;
	width: 980px;
	float: left;
	*/
}
#template {
	margin: 10px 0px 0px 26px;
	width: 543px;
	float: left;
}
img.wp-post-image {
	width: 543px;
	height: 292px;
	float: left;
}
.cornerLeft {
	position:absolute;
	top:0px;
	left:16px;
	width:59px;
	height:59px;
	background:url(../images/corner-tab-top.png) left top no-repeat;
}
.cornerRight {
	position:absolute;
	top:398px;
	background:url(../images/corner-tab-btm.png) right bottom no-repeat;
	width:59px;
	height:59px;
	left: 520px;
}
.post-container-featured {
	height:105px;
	background-color:#000;
	color:#fff;
	padding:20px 30px;
}
.post-container-featured h2 {
	font-family:'AdelleBasicBold';
	font-size:28px;
	margin:0px;
	padding:0px;
}
.post-container-featured .post-title {
	color:#fff;
}
.post-container-featured .post-title a {
	color:#fff;
	text-decoration: none;
}
.post-container-featured .post-title a:hover {
	text-decoration: none;
}
.post-container-featured p {
	margin: 0px 0 10px;
	line-height:150%;
}
a.category-link {
	font-family:Tahoma, Geneva, sans-serif;
	color: rgb(102, 110, 115);
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}
a.category-link:hover {
	text-decoration: underline;
}
a.read-more {
	color: rgb(95, 187, 48);
	font-weight: bold;
	text-decoration: none;
	font-size:11px;
}
a.read-more:hover {
	text-decoration: underline;
}
/*
#sidebar {
	margin: 5px 26px 0px 0px;
	width: 152px;
	float: right;
}
#sidekick {
	width:198px;
	height:437px;
	margin:10px 10px 0px 579px;
	display:block;
}
*/
#sidekick .box {
	height:145px;
}
#sidekick .box a {
	background-color:#7f7f7f;
	border:none;
	text-decoration:none;
	display:block;
	height:145px;
}
#sidekick .box a:hover {
	background-color:#5fbb30;
	height:145px;
}
#sidekick .boxActive a {
	background-color:#5fbb30;
	border:none;
	text-decoration:none;
	display:block;
	height:145px;
}
#sidekick .space {
	margin-top:1px;
}
#sidekick .arrow1 {
	width:198px;
	height:145px;
	position:absolute;
	top:12px;
	background:url(../images/active-arrow.png) 86px 98px no-repeat;
}
#sidekick .arrow2 {
	width:198px;
	height:145px;
	position:absolute;
	top:158px;
	background:url(../images/active-arrow.png) 86px 98px no-repeat;
}
#sidekick .arrow3 {
	width:198px;
	height:145px;
	position:absolute;
	top:304px;
	background:url(../images/active-arrow.png) 86px 98px no-repeat;
}
.sidekick-title {
	display:block;
	height:25px;
	padding:5px 13px;
	line-height:12px;
	font-family:'AdelleBasicBold';
	color:#FFF;
	margin:0px;
}
.ui-accordion-header-1 {
	cursor: pointer;
	margin: 2px 0px 0px;
	position: relative;
}
.ui-accordion-header-1 a {
	display: block;
	height:24px;
	line-height:12px;
	background:url(../images/ui-1.gif) 0px 4px no-repeat #7f7f7f;
	padding: 4px 0px 5px 35px;
	color:#FFF;
	text-decoration:none;
}
.ui-accordion-header-1 a:hover {
	display: block;
	background:url(../images/ui-1.gif) 0px 4px no-repeat #4c4c4c;
}
.ui-state-active-1 {
	background:#4c4c4c;
}
/*
.ui-widget-content {
	height:78px;
}
*/
