%h1 MerchantProducts#index
%p Find me in app/views/merchant_products/index.html.haml

%p= 'products = ' + @products

%p
  = 'current_user = ' + current_user.username
  %br/
  = 'shopify_product_vendor = ' + current_user.shopify_product_vendor
  
