
/* all pages */

#template-container {
	margin: 0px;
	padding:26px;
	width: 980px;
	position:relative;
}
.hr {
	background:url(hr.gif) repeat-x;
	height:1px;
	overflow:visible;
	display:block;
}
.clear {
	clear: both;
}
#paginate {
	margin-top: 10px;
	margin-bottom: 10px;
}
#paginate .page {
	margin-left: 5px;
	margin-right: 5px;
}
#paginate .current {
}
#paginate .prev {
	margin-left: 5px;
	margin-right: 5px;
}
#paginate .next {
	margin-left: 5px;
	margin-right: 5px;
}
#c1 #paginate a {
	color:#5fbb30;
	text-transform:uppercase;
}
#c1 #paginate a:hover {
	color:#606060;
}

/* collection page */

#c1 {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Sans-Serif;
	font-size:13px;
}
#c1 li, #c1 ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
#c1 h5 {
	font-size:13px;
	font-weight:bold;
	margin:10px 0 15px
}
#c1 a, #c1 a:active, #c1 a:visited {
	color:#606060;
	text-decoration:none;
	border:none 0px;
	font-weight:bold;
}
#c1 a:hover {
	color:#5fbb30;
}
#c1 #sidenav-container {
	float:left;
	width:190px;
}
#c1 #sidenav-container ul {
	margin-bottom:20px;
}
#c1 #sidenav-container ul.sidenav {
	line-height:26px;
	margin:0px;
	padding-left:25px;
	color:#000;
	font-weight:bold;
}
#c1 ul.sidenav a {
	color:#5fbb30;
	display:block;
}
#c1 ul.sidenav a:hover {
	color:#606060;
}
#c1 ul.filter {
	margin-top:20px;
	padding:0px;
	color:#000;
	font-weight:bold;
}
#c1 ul.filter a {
	color:#fff;
	background:url(../images/subnav-arrow.gif) 176px 8px no-repeat #4c4c4c;
	padding:6px 0px 6px 10px;
	margin-top:1px;
	display:block;
}
#c1 ul.filter a:hover {
	background:#000;
}
#c1 .widget-title {
	background: none repeat scroll 0 0 #E5E5E5;
	color: #000000;
	font-family: Tahoma, Verdana, 'Lucida Sans Unicode';
	font-size: 10px;
	font-weight: bold;
	margin: 0 0 5px;
	padding: 2px 0 2px 13px;
	text-transform: uppercase;
	width: 177px;
}
#c1 #main-container {
	float:left;
	margin-left:20px;
	width:718px;
}
#c1 .breadcrumb {
	margin-bottom:6px;
}
#c1 #product-wrapper {
	margin:30px 0px 0px;
	width:718px;
}
#c1 .product-filters {
	margin-top:10px;
}
#c1 .product-filters label {
	margin-right:20px;
}
#c1 .product-image {
	border:#e5e5e5 solid 1px;
	width:160px;
}
#c1 .product-desc {
	margin-top:7px;
	font-family:Tahoma, Verdana, 'Lucida Sans Unicode';
	font-size:11px;
	line-height:10pt;
}
#c1 .product-bold {
	font-weight:bold;
}
#c1 .btn-wrap div {
	float:left;
	margin:6px 10px 25px 0px;
}

/* from default shopify screen.css */

ul#products {
	padding: 15px 0;
}

#c1 ul#products li {
	width: 160px;
	float: left;
}

ul#products li.notend {
	margin-right: 23px;
}

ul#products li.end {
	border-right: none;
}

ul#products li div.image {
	padding: 10px 14px;
}

ul#products li div.image div.align {
	width: 240px;
	height: 240px;
	position: relative;
}

ul#products li div.image div.align div {
	font-size: 217px;
	text-align: center;
	vertical-align: middle;
	width: 240px;
	height: 240px;
	overflow: hidden;
	display: table-cell;
}

ul#products li div.image div.align div img {
	vertical-align: middle;
}

ul#products li h3 {
	font-size: 13px;
	text-align: center;
}

ul#products li p {
	font-size: 12px;
	text-align: center;
	padding: 3px 0 15px;
}

ul#products li p del {
	color: #999;
	padding-left: 3px;
}

#c1 .filters {
	position:relative;
	line-height:20px
}
#c1 .filters h4 {
	margin:0px;
	padding:0px
}
#c1 .filters a { color:#5fbb30; }
#c1 .filters a:hover { color:#FFF }
#c1 .filters li a { display:block; }
#c1 .filterButton {
	background-color: #7f7f7f;
	border: #7f7f7f solid 1px;
	color: #fff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	padding: 2px 5px 3px;
	text-align: center;
}
#c1 .flyout-brand {
	background:#000;
	width:200px;
	color:#fff;
	padding:20px;
	border-radius: 4px 4px 4px 4px;
	/* 
	position:absolute;
	left:190px;
	z-index:10000;
	*/
}
#c1 .flyout-color {
	background:#000;
	width:400px;
	color:#fff;
	padding:20px 20px 10px 20px;
	/*
	position:absolute;
	left:190px;
	border-radius: 4px 4px 4px 4px;
	z-index:10000;
	*/
}
#c1 .colors {
	color:#000;
}
#c1 .colors li {
	float:left;
	width:62px;
	height:35px;
	font-size:10px;
	margin-left:10px;
	padding-top:25px;
}
#c1 .colors .green {
	background: url(colors.gif) no-repeat;
}
#c1 .colors .blue {
	background: url(colors.gif) no-repeat 0px -60px;
}
#c1 .colors .purple {
	background: url(colors.gif) no-repeat 0px -120px;
}
#c1 .colors .red {
	background: url(colors.gif) no-repeat 0px -180px;
}
#c1 .colors .pink {
	background: url(colors.gif) no-repeat 0px -240px;
}
#c1 .colors .beige {
	background: url(colors.gif) no-repeat 0px -300px;
}
#c1 .colors .brown {
	background: url(colors.gif) no-repeat 0px -360px;
}
#c1 .colors .yellow {
	background: url(colors.gif) no-repeat 0px -420px;
}
#c1 .colors .orange {
	background: url(colors.gif) no-repeat 0px -480px;
}
#c1 .colors .black {
	background: url(colors.gif) no-repeat 0px -540px;
}
#c1 .colors .white {
	background: url(colors.gif) no-repeat 0px -600px;
}
#c1 .colors .gray {
	background: url(colors.gif) no-repeat 0px -660px;
}
#c1 .colors .gold {
	background: url(colors.gif) no-repeat 0px -720px;
}
#c1 .colors .silver {
	background: url(colors.gif) no-repeat 0px -780px;
}

/* merchant additions */

.merchant {
	display:none;
}

#c1 .store-id .IDimg {
	float:left;
	border:#e5e5e5 solid 1px;
	display:block;
	margin:0px 10px 10px 0px;
}
#c1 .store-id_BoxName {
    display: block;
    padding-bottom: 1px;
    width: 190px;
	font-size:11px;
    word-wrap: break-word;
}
#c1 .ftlt { float:left; }
#c1 .ftrt { float:right; }
#c1 .mtm { margin-top:10px; }
#c1 .mbm { margin-bottom:10px; }

#c1 .uiSideNav ul {
    display: none;
}
#c1 .uiSideNav .open ul {
    display: block;
}
#c1 .uiSideNav li {
    position: relative;
}
#c1 .uiSideNav .hidden {
    display: none;
}
#c1 .uiSideNav .item, .uiSideNav .subitem {
    border-bottom: 1px solid #FFFFFF;
    color: #7e7e7e;
    display: block;
    line-height: 30px;
	font-size:18px;
    padding: 3px 8px 3px 37px;
    position: relative;
    text-decoration: none;
}
#c1 .uiSideNav .subitem {
    padding-left: 37px;
}
#c1 .uiSideNav .item:hover, .uiSideNav .item:active, .uiSideNav .item:focus, .uiSideNav .subitem:hover, .uiSideNav .subitem:active, .uiSideNav .subitem:focus {
    background-color: #d9efce;
    text-decoration: none;
}
#c1 .uiSideNav .selectedItem .item, .uiSideNav .selectedItem .item:hover, .uiSideNav ul .selectedItem .subitem, .uiSideNav ul .selectedItem .subitem:hover {
    background-color: #afdd97;
	color:#000;
    font-weight: bold;
}
#c1 .uiSideNav .imgWrap {
    left: 10px;
    position: absolute;
    text-align: center;
    top: 2px;
    width: 23px;
}
#c1 .sideNav-icons {
    background:url(profile-icons.png) no-repeat;
    display: inline-block;
    width: 23px;
}
#c1 .titleBar {
	margin:15px 0px 22px;
}


